body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin:0;
}

a{
    text-decoration: none;
}
.container{
    display:grid;
    grid-template-columns: 1fr minmax(auto, 1120px) 1fr;
    grid-template-areas: "header header header"
                          "content content content"
                          ". cards ."
                          "slider slider slider";
                
}

/*Header*/

.header{
    grid-area: header;
    background:url("../images/bg.jpg") center no-repeat;
    background-size:cover;
    height:100vh;
}
.header_inner{
width:100%;
background-color:#fff;
}
.header_menu{
    width:100%;
    max-width:1110px;
    height:65px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.header_logo--text{
    background:linear-gradient(to right, #6170ff, #8e4aeb);
    background-clip:text;
    -webkit-background-clip: text; /* не все браузеры поддерживают градиентный текст*/
    color:transparent;
    font-weight: bold;
    font-size: 29px;
}
.header_nav{
    width:100%;
    max-width:614px;
    display:flex;
    justify-content: space-between;
    margin-left:178px;
}
.header_nav--link{
    /*margin-right:43px;*/
    font-size:16px;
    color:#959595;
    background-color:transparent;
    padding:23px 10px 23px 10px;
    
}
.header_nav--link:hover{
    color:#fff;
    background-color:#626FFE;
}
.phone a{
    color:#959595;
    background-color:transparent;
    padding:23px 10px 23px 10px;  
}
.phone a:hover{
    color:#fff;
    background:linear-gradient(to right, #6170ff, #8e4aeb);
}

/*Header center block*/
.header_block{
    width:100%;
    max-width:855px;
    height:361px;
    padding-top:50px;
    padding-bottom:72px;
    background:linear-gradient(to right, rgba(97, 112, 255, 0.8), rgba(142, 74, 235, 0.8));
    /*background-color:rgba(111,130,251, 0.5);*/
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
   z-index:100;
}
.header_block h1{
    font-size:95px;
    text-align:center;
    color:#fff;
}
.header_block--travel{
    font-weight:normal;
}
.header_block p{
    font-size:28px;
    color:#fff;
    text-align:center;
    font-weight:bold;
}
.header_block p:nth-child(3){
    width:100%;
    max-width:445px;
    font-size:18px;
    color:#fff;
    margin:0 auto;
    font-weight:normal;
}

/*Search block*/
.search_block{
    display:flex;
    align-items: center;
    width:100%;
    max-width:1110px;
    height:188px;
    background:linear-gradient(to right, #6170ff, #8e4aeb);
    position:absolute;
    bottom:-7%;
    left:50%;
    transform:translate(-50%);
    z-index:1000;
    padding-left:56px;
    gap:47px;
}
input{
    width:100%;
    max-width:220px;
    height:48px;
    padding-left:35px;
}
.btn{
    width:100%;
    max-width:168px;
    height:48px;
    margin-left:29px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    background:#626FFE;
    border:none;
    color:#fff;
    font-weight:bold;
    font-size:14px;
}
.btn:hover{
    background:#1124f3;
}
.content{
    grid-area:content;
    width:100%;
    max-width:1600px;
    height:600px;
    background:url("../images/content1.jpg") center no-repeat;
    background-size: contain;
}
.content_text{
    width:100%;
    max-width:443px;
    margin-top:15%;
    margin-left:21%;
    color:#2A2A2A;
}
.content_text h1{
    letter-spacing: 7px;
    font-size:32px;
    margin-bottom:25px;
}
.content_text a{
    display:block;
    margin-top:35px;
    font-weight: bold;
    letter-spacing: 5px;
    color:#2A2A2A;
}
.content_text a:hover{
    color:#0a0a0a;
    
}

/*Cards*/
.cards_block{
    grid-area:cards;
    display:flex;
    justify-content: space-between;
}
.cards{
    width:100%;
    max-width:350px;
    height:374px;
    margin-bottom:132px;
    background:url("../images/card_image.png") no-repeat;
    background-size:contain;
}
.cards:hover{
    box-shadow: -20px 10px 25px #CCCCCC;
}
.cards p{
    margin-top:65%;
    text-align: center;
    color:#737373;
    font-size:14px;
}
.cards h3{
    text-align: center;
    color:#343434;
    margin-bottom:23px;
}
.cards i{
    display:block;
    margin: auto;
    width:39px;
    height:39px;
    color:#fff;
    background-color:#626FFE;
    border-radius:50%;
    

}
.fas{
    padding:14px;
    cursor:pointer;
}
.cards i:hover{
    background-color:#3d4df5;
}

/*Slider*/
.slider{
    grid-area:slider;
    width:100%;
    height:506px;
    background:url("../images/slider.png") center no-repeat;
    background-size: cover;
}
.slider_content{
    width:100%;
    max-width:1074px;
    margin:0 auto;
    margin-top:111px;
    color:#fff;
    position:relative;
}
.slider_content h2{
    text-align:center;
    margin-bottom:39px;
}
.slider_content figure{
    text-align: center;
}
.slider_text{
    width:720px;
    text-align: center;
    margin: auto;
    margin-top:44px;
    font-size:16px;
}
.slider_content:before{
    content:"";
    display:block;
    width:18px;
    height:18px;
    border-top:4px solid #fff;
    border-right:4px solid #fff;
    position:absolute;
    top:50%;
    transform:rotate(220deg);
    cursor: pointer;
    
}
.slider_content:after{
    content:"";
    display:block;
    width:18px;
    height:18px;
    border-top:4px solid #fff;
    border-right:4px solid #fff;
    position:absolute;
    top:50%;
    right:0%;
    transform:rotate(45deg);
    cursor: pointer;
    
}