body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin:0;
}
a{
    text-decoration: none;
}
.container{
    display:grid;
    grid-template-columns: 1fr minmax(auto, 1120px) 1fr;
    grid-template-areas: "header header header";
}

/*Header*/

.header{
    grid-area: header;
    background:url("../images/bg.jpg") center no-repeat;
    background-size:cover;
    height:100vh;  
}
.header_inner{
width:100%;
background-color:#fff;
}
.header_menu{
    width:100%;
    max-width:1110px;
    height:65px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.header_logo--text{
    background:linear-gradient(to right, #6170ff, #8e4aeb);
    background-clip:text;
    -webkit-background-clip: text; /* не все браузеры поддерживают градиентный текст*/
    color:transparent;
    font-weight: bold;
    font-size: 29px;
}
.header_nav--link{
    margin-right:43px;
    font-size:16px;
    color:#959595;
    background-color:transparent;
    padding:23px 10px 23px 10px;
    
}
.header_nav--link:hover{
    color:#fff;
    background-color:#626FFE;
}
.phone a{
    color:#959595;
    background-color:transparent;
    padding:23px 10px 23px 10px;  
}
.phone a:hover{
    color:#fff;
    background:linear-gradient(to right, #6170ff, #8e4aeb);
}

/*Header center block*/
.header_block{
    width:100%;
    max-width:860px;
    height:365px;
    padding-top:64px;
    background-color:rgba(111,130,251, 0.5);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);  
}
.header_block h1{
    font-size:100px;
    text-align:center;
    color:#fff;
}
.header_block p{
    font-size:22px;
    color:#fff;
    text-align:center;
}
.header_block p:nth-child(3){
    width:100%;
    max-width:200px;
    font-size:15px;
    color:#fff;
    margin:0 auto;
}