body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin:0;
}

a{
    text-decoration: none;
}
.container{
    display:grid;
    grid-template-columns: 1fr minmax(auto, 1120px) 1fr;
    grid-template-areas: "header header header";
                
}

/*Header*/

.header{
    grid-area: header;
    background:url("../images/bg.jpg") center no-repeat;
    background-size:cover;
    height:100vh;
    position:relative;
    z-index:100;
}
.header_inner{
width:100%;
background-color:#fff;
}
.header_menu{
    width:100%;
    max-width:1110px;
    height:65px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.header_logo--text{
    background:linear-gradient(to right, #6170ff, #8e4aeb);
    background-clip:text;
    -webkit-background-clip: text; /* не все браузеры поддерживают градиентный текст*/
    color:transparent;
    font-weight: bold;
    font-size: 29px;
}
.header_nav{
    width:100%;
    max-width:614px;
    display:flex;
    justify-content: space-between;
    margin-left:178px;
}
.header_nav--link{
    /*margin-right:43px;*/
    font-size:16px;
    color:#959595;
    background-color:transparent;
    padding:23px 10px 23px 10px;
    
}
.header_nav--link:hover{
    color:#fff;
    background-color:#626FFE;
}
.phone a{
    color:#959595;
    background-color:transparent;
    padding:23px 10px 23px 10px;  
}
.phone a:hover{
    color:#fff;
    background:linear-gradient(to right, #6170ff, #8e4aeb);
}

/*Header center block*/
.header_block{
    width:100%;
    max-width:855px;
    height:361px;
    padding-top:50px;
    padding-bottom:72px;
    background:linear-gradient(to right, rgba(97, 112, 255, 0.8), rgba(142, 74, 235, 0.8));
    /*background-color:rgba(111,130,251, 0.5);*/
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
   z-index:100;
}
.header_block h1{
    font-size:95px;
    text-align:center;
    color:#fff;
}
.header_block--travel{
    font-weight:normal;
}
.header_block p{
    font-size:28px;
    color:#fff;
    text-align:center;
    font-weight:bold;
}
.header_block p:nth-child(3){
    width:100%;
    max-width:445px;
    font-size:18px;
    color:#fff;
    margin:0 auto;
    font-weight:normal;
}

/*Search block*/
.search_block{
    width:200px;
    height:200px;
    background:red;
}


